img {
    height: 400px;
    width: 200px;
}

.logoimg {
    height: 100px;
    width: 100px;
    margin-left: 5%;
}

.nav-link {
    font-size: larger;
    color: #99aead;
}

h1 {
    color: #6d9197;
}

.navbar {
    background-color: #28363d;
}

.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: lightblue;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

body {
    background-color: #6d9197;
    font-family: sans-serif;
}

.card {
    width: 400px;
    background-color: #c4cdc1;
}

.card-title {
    text-transform: capitalize;
}

.footer {
    background-color: #28363d;
    color: #99aead;
    left: 0;
    bottom: 0;
}

hr {
    border: 1px #6d9197 solid;
}

.d1 {
    background-color: #28363d;
}

h3 {
    padding-top: 20px;
}

.container {
    margin-left: 8%;
}

span:hover {
    background-color: #6d9197;
    border-radius: 10px;
}

.dd {
    margin-top: 1%;
    width: 100%;
}

.btn {
    margin-right: 1%;
}